{% extends 'temp/navbar.html' %} 
<!-- {% include 'temp/navbar.html' %} -->
{% load static %}

{% block linkthings %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock %}

{% block main %}
{{msglogin}}
<p class="urcart">Your Cart</p>

<div  class="prodetails" >
<table class="carttable" cellspacing="15"  >
    <tr>
        <td>Item ID</td>
        <td>Item</td>
        <td>Price (Rs)</td>
        <td>Quantity</td>
        <td>Total</td>
    </tr>
    {% for i in mycart %}
    <tr>
        {% for j in i %}  
        <td>
            {{j}}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
         


</table>
<hr>
<div class="flex">
<div>
<p>Total Price : Rs. {{total}} </p>
<p>plus 3% service tax = {{tax}}</p>
</div>
<div>
<p>Grand Total:</p>
<p class="gtot">Rs. {{tot}}</p>
</div>
</div>
</div>
<form action="/home/confirmorder/" method="post">
    {% csrf_token %}
<input class="confirmbut" type="submit" value="Confirm & Place">
</form>

<p class="urcart2">Your previous Placed Orders:</p>
<table class="previoustable" cellspacing="15">
{% for pr in prev %}

<tr>
{% for p in pr %} 
<td>     
{{p}}
</td>      
{% endfor %}
</tr>
{% endfor %}
</table>
{% endblock %}
