<!DOCTYPE html>
<html lang="en">
{%  load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
</head>

<body>
    <div class="hero">
        <div class="form-box">
            <div class="button-box">
                <div id="btn"></div>
                <button type="button" class="toggel-btn" onclick="signin()">SIGN IN</button>
                <button type="button" class="toggel-btn" onclick="signup()">SIGN UP</button>

            </div>
            <div class="socisl-ico">
                <img src="facebook.png" alt="">
                <img src="twitter.png" alt="">
                <img src="instagram.png" alt="">

            </div>
            <form id="signin"class="input" method="post">
            {% csrf_token %}
            {{formsi}}
        
            <button type="submit" class="submit-btn">SIGN IN</button>
            </form>
            <form id="signup" class="input" method="post">
                {% csrf_token %}
                {{formsu.as_p}}
        
            <button type="submit" class="submit-btn">SIGN UP</button>
            </form>

        </div>
    

    </div>
<script>
var x = document.getElementById("signin");
var y = document.getElementById("signup");
var z = document.getElementById("btn");
function signup(){
    x.style.left = "-400px";
    y.style.left = "50px";
    z.style.left = "110px";
   
}
function signin(){
    x.style.left = "50px";
    y.style.left = "450px";
    z.style.left = "0";
}


</script>
</body>

</html>