.navbar{
    background-image: linear-gradient(to right,rgb(182, 168, 88),rgb(175, 155, 65));
    /* background-image: linear-gradient(to right,rgb(0, 217, 255),rgb(255, 0, 255)); */
    float: right;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
    display: flex;
    
  }
  
  .floatr{
      
      float: right;
      /* margin-right: 1rem; */
      margin-left: 39rem;
      
      
      
      /* vertical-align: 0em; */
      padding-left: 1.5rem;
  }
  .floatr>a:link{
      text-decoration: none;
      font-family: 'Playfair Display', serif;
      font-size: 1.5rem;
      color: rgb(255, 255, 255);
  }
  .navbar>a:link{
      font-size: 1.5rem;
      color:rgb(255, 255, 255);
      text-decoration: none;
      font-family: 'Playfair Display', serif;
      margin-left: 1rem;
  }
  .navbar>img{
      margin-left: 1rem;
  }
  .floatr>a:link{
      padding-left: 2rem;
  }
  
  body{
      margin-top: 0em;
      margin-bottom: 0em;
      margin-left: 0em;
      margin-right: 0em;
      background-image: url(/static/images/img4.jpg);
      
      /* background-repeat: no-repeat;
       */background-size: cover;
      height: 60rem;
      font-family: 'Playfair Display', serif; 
  }
  *{
      box-sizing: border-box;
  }
  .marqueeoffer{
      background-color: rgb(241, 232, 190);
      color:rgb(136, 116, 25);
      font-size: 2rem;
  }
  .infocategories{
      font-size: 1.8rem;
      text-align: center;
      color: rgb(19, 16, 16);
      padding-top: 0.6rem;
      margin-top: 0.2rem;
      margin-bottom: 0.2rem;
      padding-bottom: 0.6rem;
      /* background-image: linear-gradient(to right,rgb(0, 217, 255),rgb(255, 0, 255)); */
      background-color: rgb(247, 242, 224);
  }
  .category-mat{
      display: flex;
      padding-left: 0.5rem;
      padding-right: 1rem;
      background-color: rgba(240, 248, 255, 0);
      padding-top: 0.7rem;
     
  }
  .category-mat>img{
      
      border-radius: 3rem;
  }
  .category-type{
      display: flex;
      padding-left: 0.5rem;
      /* background-image: linear-gradient(to right,rgb(0, 217, 255),rgb(255, 0, 255)); */
  margin-right: 0em;
  margin-left: 2rem;
  }
  .category-mat>a{
      
      color: rgb(7, 7, 7);
      text-decoration: none;
    font-size: 1.6rem;
      text-align: center;
      margin-right: 0rem;
    border-right: 0rem;
    background-color: rgb(214, 197, 124);
    border:0.8rem solid;
    border-color:rgb(255, 255, 255);
  }
  .category-type>a{
      
      color: rgb(14, 13, 13);
      text-decoration: none;
    font-size: 1.6rem;
      text-align: center;
      border:0.8rem solid;
      border-color:rgb(255, 255, 255);
      padding-left: 0rem;
      padding-right: 0rem;
    margin-right: 0rem;
    border-right: 0rem;
    background-color: rgb(214, 197, 124);
    /* background-color: rgb(36, 186, 197); */
  }
  
  .category-mat>p{
      margin-block-start: 0rem;
      margin-block-end:  0rem;
  }
  /* .category-type>a{
      padding-left: 0.5rem;
      padding-right: 1rem;
  } */
  .slbutton{
      height: 2rem;
      width: 2rem;
      margin: auto;
      border-radius: 0.5rem;
      background-color: rgb(238, 232, 199);
      transition: background-color 0.5s ease-in;
      cursor: pointer;
  }
  .slbuttons{
      justify-content: center;
    margin-left: 43rem;
  }
  .slideimgs{
      display: flex;
  }
  .slide{
      width: 100%;
      height: 40rem;
  
  }
  .active,.slbutton:hover{
      background-color: rgb(180, 160, 70);
  }
  
  
    .slideimgs{
        position: relative;
    }
    .reviewtransp{
        display: table;
        border-width: 1rem;
        margin-right: 1rem;
        width: 100%;
        
        background-size: 100;
        
    }
    .reviews{
      background-image: url(/static/images/img4.jpg);
      border: 1.5rem solid;
      border-image: url(/static/images/bac14.jpg);
      background-size: cover;
      
    }
    .reviewtransp{
    
        background-color: rgba(184, 166, 88, 0.658);
        
    }
    .column{
        display: table-cell;
      
      
      
        /* border-image: url(./images/bac14.jpg); */
  
  
  
    }
    .column>pre{
      font-size: 1.2rem;
      font-family: 'Playfair Display', serif; 
      width: 8rem;
      color: rgb(255, 255, 236);
      
    }
    .categories{
        background-image: url(/static/images/img4.jpg);
    }