.navbar{
    background-color: rgb(187, 170, 96);
    float: right;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
    display: flex;
    
  }
  
  .floatr{
      
      float: right;
      /* margin-right: 1rem; */
      margin-left: 39rem;
      
      
      
      /* vertical-align: 0em; */
      padding-left: 1.5rem;
  }
  .floatr>a:link{
      text-decoration: none;
      font-family: 'Playfair Display', serif;
      font-size: 1.5rem;
      color: rgb(255, 255, 255);
  }
  .navbar>a:link{
      font-size: 1.5rem;
      color:rgb(255, 255, 255);
      text-decoration: none;
      font-family: 'Playfair Display', serif;
      margin-left: 1rem;
  }
  .navbar>img{
      margin-left: 1rem;
  }
  .floatr>a:link{
      padding-left: 2rem;
  }
.msg1{
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    margin-left: 35rem;
    margin-top: 0rem;
}
body{
    margin-top: 0rem;
    background-image: url(/static/images/img4.jpg);
}
.payment{
    font-size: 1.5rem;
    margin-left: 43rem;
    margin-top: 0.7rem;
    font-family: 'Playfair Display', serif;
    
}
.payment2{
    font-size: 1.5rem;
    /* margin-left: 41rem; */
    margin-top: 0.7rem;
    font-family: 'Playfair Display', serif;
    background-color: rgb(228, 220, 174);
    text-align: center;
}
.but{
    font-size: 1.5rem;
    margin-left: 40rem;
    margin-top: 0.7rem;
    font-family: 'Playfair Display', serif;
    background-color: rgb(184, 176, 109);
    
}
.details{
    align-content: center;
    justify-content: center;
    display:flexbox;
    align-items: center;
    text-align: center;
    background-color: rgb(228, 220, 174);
}