.navbar{
    background-color:rgb(155, 152, 83);
    float: right;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
    display: flex;
    
  }
  
  .floatr{
      
      float: right;
      /* margin-right: 1rem; */
      margin-left: 39rem;
      
      
      
      /* vertical-align: 0em; */
      padding-left: 1.5rem;
  }
  .floatr>a:link{
      text-decoration: none;
      font-family: 'Playfair Display', serif;
      font-size: 1.5rem;
      color: rgb(255, 255, 255);
  }
  .navbar>a:link{
      font-size: 1.5rem;
      color:rgb(255, 255, 255);
      text-decoration: none;
      font-family: 'Playfair Display', serif;
      margin-left: 1rem;
  }
  .navbar>img{
      margin-left: 1rem;
  }
  .floatr>a:link{
      padding-left: 2rem;
  }
.msg1{
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    margin-left: 35rem;
    margin-top: 0rem;
}
body{
    margin-top: 0rem;
    background-color: rgb(231, 231, 206);
}
.payment{
    
    font-size: 1.7rem;
    margin-top: 0.7rem;
    font-family: 'Playfair Display', serif;
    background-color: rgb(189, 183, 98);
    color: aliceblue;
}
.form{
    margin-left: 39rem;
    margin-top: 2rem;
    font-family: 'Playfair Display', serif; 
    font-size: 1.5rem;
  
    
}
.but{
    font-family: 'Playfair Display', serif;
    background-color: rgb(189, 183, 98);
    color: aliceblue;
    font-size: 1.7rem;
    margin-left: 5rem;
}