.signuppage{
    text-align: center;
    background-color: rgb(211, 202, 119);
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 3rem;
    font-family: 'Playfair Display', serif;
}
.text1{
    font-size: 2rem;
    text-align: center;
    color: black;
}
#signup{
    font-size: 2rem;
    background-color: rgb(240, 236, 204);
    font-family: 'Playfair Display', serif;
}
body{
    background-image: url(/static/images/img4.jpg);
    background-size: cover;
}