{% extends 'temp/navbar.html' %}
{% block linkthings %}
{% load static %}
<link rel="stylesheet" href="overlay.css">
<link rel="stylesheet" href="{% static 'css/sepprodstyle.css' %}">
{% endblock linkthings %}
{% block main %}
{% for pro1 in product %}
<img src="{{pro1.proi.url}}" width="570px" height="500px" alt="">
<p>{{pro1.pronm}}</p>
<p>{{pro1.propri}}</p>
<p>{{pro1.proamt}}</p>
<p>{{pro1.prodesc}}</p>
{% endfor %}
<h1>Virtual Try-on this item: </h1>

    <form method="POST" action="" enctype="multipart/form-data">
        <!-- {{csrf_token}} this will actually print it-->
        {% csrf_token %}
        {{form.as_p}}
    <input type="submit" value="Upload">
</form>
<div class="vto"></div>
{% for pro1 in product %}
{% include 'temp/overlay.html' with iback=lehimg  ifront=pro1.proi.url %}
{% endfor %}
</div>

</body>
</html>
{% endblock %}