{% load static %}
<div class="main">
<div id="parent">
    <img id="backimg" src="{{iback}}" alt="">
    <img id="frontimg" src="{{ifront}}" alt="">
    
        </div>
   
    <style>
        #parent{
position: relative;
width: 1000px;
height: 620px;
border: 0.7rem solid;
border-color: rgb(202, 182, 94);
}
#backimg{
width: 1000px;
height: 620px;
position: absolute;
}
#frontimg{
    width: 400px;
    height: 400px; 
    position: absolute;
    bottom:300px;
    left: 300px;
}
    </style>
    <div class="allbuts">
    <button id="mover" ><img height="50px" width="50px" src="{% static 'images/right.png' %}" alt=""></button><br>
    <button id="movel" ><img height="50px" width="50px" src="{% static 'images/left.png' %}" alt=""></button><br>
    <button id="moveup"><img height="50px" width="50px" src="{% static 'images/up.png' %}" alt=""></button><br>
    <button id="movedown"><img height="50px" width="50px" src="{% static 'images/down.png' %}" alt=""></button><br>
    <button id="widthin"><img height="50px" width="50px" src="{% static 'images/wplus.png' %}" alt=""></button><br>
    <button id="widthout"><img height="50px" width="50px" src="{% static 'images/wminus.png' %}" alt=""></button><br>
    <button id="heightin"><img height="50px" width="50px" src="{% static 'images/hplus.png' %}" alt=""></button><br>
    <button id="heightout"><img height="53px" width="53px" src="{% static 'images/hminus.png' %}" alt=""></button><br>
</div></div>
    <script>
        window.addEventListener('load',()=>{
    document.querySelector("#backimg").style.position="relative";
    document.querySelector("#frontimg").style.left="0px";
    document.querySelector("#frontimg").style.top="0px";
    
});
document.getElementById("mover").addEventListener("click",mover);
document.getElementById("movel").addEventListener("click",movel);
document.getElementById("moveup").addEventListener("click",moveup);
document.getElementById("movedown").addEventListener("click",movedown);
document.getElementById("widthin").addEventListener("click",widthin);
document.getElementById("widthout").addEventListener("click",widthout);
document.getElementById("heightin").addEventListener("click",heightin);
document.getElementById("heightout").addEventListener("click",heightout);

function mover(){

document.getElementById("frontimg").style.left=parseInt(document.getElementById("frontimg").style.left)+5+'px';

}
function movel(){

document.getElementById("frontimg").style.left=parseInt(document.getElementById("frontimg").style.left)-5+'px';

}
function moveup(){

document.getElementById("frontimg").style.top=parseInt(document.getElementById("frontimg").style.top)-5+'px';

}
function movedown(){

document.getElementById("frontimg").style.top=parseInt(document.getElementById("frontimg").style.top)+5+'px';

}
function widthin(){
    document.getElementById("frontimg").style.width=document.getElementById("frontimg").clientWidth+10+'px';
}
function widthout(){
document.getElementById("frontimg").style.width=document.getElementById("frontimg").clientWidth-10+'px';
}
function heightin(){
document.getElementById("frontimg").style.height=document.getElementById("frontimg").clientHeight+10+'px';
}
function heightout(){
document.getElementById("frontimg").style.height=document.getElementById("frontimg").clientHeight-10+'px';
}


    </script>
