{% extends 'temp/navbar.html' %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
  {% block linkthings %}
  
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/homestyle.css' %}">
  <script src="{% static 'js/slideshow.js' %} "></script>
  
  {% endblock %}
  {% block main %}
  <div >
    <!-- style="background-image: url('{% static 'images/img3.jfif' %}')" -->
    <hr>
<marquee class="marqueeoffer" scrollamount="15" behavior="scroll" direction="">Marriage Season Offer available now! Avail 20% discount on purchase above 30,000!!!</marquee>




<div class="slideimgs" style="margin-left: 20rem;">
    <div class="abc fade">
        <img class="slide" height="400px" width="400px" src="{% static 'images/ad6.jpg' %}" alt="">
    </div>

    <div class="abc fade">
        <img class="slide" height="400px" width="400px" src="{% static 'images/ad7.jpg' %}" alt="">
    </div>

    <div class="abc fade">
        <img class="slide" height="400px" width="400px" src="{% static 'images/ad8.jpg' %}" alt="">
    </div>

    <div class="abc fade">
        <img class="slide" height="500px" width="600px" src="{% static 'images/ad9.jpg' %}" alt="">
    </div>

    <div class="abc fade">
        <img class="slide" height="400px" width="400px" src="{% static 'images/ad10.jpg' %}" alt="">
    </div>

</div>

<br>
<div class="slbuttons">
<span><button class="slbutton" onclick="scbybutton(1)"></button></span>
<span><button class="slbutton" onclick="scbybutton(2)"></button></span>
<span><button class="slbutton" onclick="scbybutton(3)"></button></span>
<span><button class="slbutton" onclick="scbybutton(4)"></button></span>
<span><button class="slbutton" onclick="scbybutton(5)"></button></span>

</div>
<script>
autoslideshow();
</script>
<br>
<div class="reviews">
    <div class="reviewtransp">
<div class="column">
    <pre>
        I'm able to see how technology
        is turning the small business I
        found into a paradise of solutions,
        especially when our country is
        facing such crisis.
        Now customers can shop effectively
        by using virtual trials option,
        and I request them to prefer
        online purchasing so that together
        we fight the pandemic!

                          -Founder
    </pre>

</div>

<div class="column">
<pre>
        Its like a dream come true
        for us women because we're
        able to try out literally
        every single jewellery,
        without hesitation,
        with these virtual trials.
        

        -{Name of Reviewer}
</pre>
</div>

<div class="column">
<pre>
        reviews

        -{Name of Reviewer}
</pre>
</div>
<div class="column">
<pre>
        reviews

        -{Name of Reviewer}
</pre>
</div>

</div>
</div>
<br>
<div class="categories">
    <p class="infocategories">Shop By Ornament types</p>
    <div class="category-mat">
       
<a href="/home/gold/1"><img width="276px" height="276px" src="{% static 'images/jes4.jpg' %}" alt=""><p>Gold</p></a>
<a href="/home/gold/2"><img width="276px" height="276px" src="{% static 'images/jes6.jpg' %}" alt=""><p>Platinum</p></a>
<a href="/home/gold/3"><img width="276px" height="276px" src="{% static 'images/jef10.jpg' %}" alt=""><p>Diamonds</p></a>
<a href="/home/gold/5"><img width="276px" height="276px" src="{% static 'images/platinum2.jpg' %}" alt=""><p>Silver</p></a>
<a href="/home/gold/4"><img  width="276px" height="276px" src="{% static 'images/jes2.PNG' %}" alt=""><p>American Diamonds</p></a>

    </div>
    <script>
 
    </script>
<br>
    <p class="infocategories">Shop By Jewellery types</p>
<br>
<div class="category-type">
  
<a href="workpc.html"><img width="276px" height="276px" src="{% static 'images/1.jpeg' %}" alt=""><p>Necklace</p></a>
<a href="workpc.html"><img width="276px" height="276px" src="{% static 'images/5.jpeg' %}" alt=""><p>Pendants</p></a>
<a href="workpc.html"><img width="276px" height="276px" src="{% static 'images/2.jpeg' %}" alt=""><p>Earrings</p></a>
<a href="workpc.html"><img width="276px" height="276px" src="{% static 'images/6.jpeg' %}" alt=""><p>Wedding Rings</p></a>
<a href="workpc.html"><img width="276px" height="276px" src="{% static 'images/4.jpeg' %}" alt=""><p>Bangles</p></a>

</div>



</div>


</div>
</div>
<!-- </body> -->
<!-- </html> -->
{% endblock %}